In [ ]:
import pandas as pd
import numpy as np
import seaborn

### `merge` 함수를 통한 데이터프레임 병합
`merge()` 메서드로 공통 열 혹은 행을 기준으로 두 개의 데이터프레임을 병합 할 수 있음, 병합의 기준이 되는 열 혹은 행을 '키'라고 함  
    
기본적으로 `merge()` 메서드는 **inner join** 형태를 가짐  
**outer(full), left, right join** 형태로 변경하고 하고자 한다면 `how` 인수에 조인 방식을 지정함  
`merge()` 메서드로 병합을 하려 한다면 동일한 이름의 열 또는 행이 존재해야함

In [ ]:
df1 = pd.DataFrame(
    {
        '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
        '이름': ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
    }, columns=['고객번호', '이름']
)
df1

In [ ]:
df2 = pd.DataFrame(
    {
        '고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
        '금액': [10000, 20000, 15000, 5000, 100000, 30000]
    }, columns=['고객번호', '금액']
)
df2

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
pd.merge(df1, df2, how='left')

In [ ]:
pd.merge(df1, df2, how='right')

만약 키 값에 동일한 데이터가 여러개 존재한다면 모든 경우의 수를 표현함

In [15]:
df1 = pd.DataFrame(
    {
        '품종': ['튤립', '튤립', '장미', '장미'],
        '꽃잎길이': [1.4, 1.3, 1.5, 1.3]
    }
)
df1

   품종  꽃잎길이
0  튤립   1.4
1  튤립   1.3
2  장미   1.5
3  장미   1.3

In [16]:
df2 = pd.DataFrame(
    {
        '품종': ['튤립', '장미', '장미', '무궁화'],
        '꽃잎너비': [0.4, 0.3, 0.5, 0.3]
    }
)
df2

    품종  꽃잎너비
0   튤립   0.4
1   장미   0.3
2   장미   0.5
3  무궁화   0.3

In [17]:
pd.merge(df1, df2)

   품종  꽃잎길이  꽃잎너비
0  튤립   1.4   0.4
1  튤립   1.3   0.4
2  장미   1.5   0.3
3  장미   1.5   0.5
4  장미   1.3   0.3
5  장미   1.3   0.5

In [18]:
pd.merge(df1, df2, how='outer')

    품종  꽃잎길이  꽃잎너비
0  무궁화   NaN   0.3
1   장미   1.5   0.3
2   장미   1.5   0.5
3   장미   1.3   0.3
4   장미   1.3   0.5
5   튤립   1.4   0.4
6   튤립   1.3   0.4