In [ ]:
import pandas as pd
import numpy as np

### 데이터 갯수 세기
판다스 패키지의 `Series`, `DataFrame` 객체의 `count()` 메서드로 데이터의 갯수를 셀 수 있음
단, `NaN` 값은 포함하지 않음

In [ ]:
s = pd.Series(np.arange(10))
s[3] = np.nan
s

In [ ]:
s.count()

In [ ]:
df = pd.DataFrame(np.random.randint(5, size=(4, 4)), dtype=float)
df.iloc[2, 3] = np.nan
df

In [ ]:
# 열 기준으로 그룹화하여 카운트
df.count()

In [ ]:
import seaborn

In [ ]:
titanic = seaborn.load_dataset('titanic')
titanic.head()

In [ ]:
titanic.count()

In [ ]:
len(titanic)

### 카테고리 값 세기
`Series` 객체에 값이 정수, 문자열, 카테고리 값인 경우에 `value_counts()` 메서드로 각 값의 갯 수를 셀 수 있음  
`DataFrame` 객체에는 `value_counts()` 메서드가 존재하지 않아 각 열마다 따로 갯수를 세야함

In [ ]:
s2 = pd.Series(np.random.randint(6, size=250))
s2.tail()

In [ ]:
s2.value_counts()

In [ ]:
df[0].value_counts()

### 정렬
`sort_index()`, `sort_values()` 메서드로 정렬 가능  
`sort_index()`: 인덱스 기준으로 정렬 (기본적으로 오름차순 정렬, 만약 내림차순 정렬을 하고 싶으면 `ascending=False`를 지정)
`sort_values()`: 값 기준으로 정렬, 만약 NaN 값이 있다면 무조건 맨뒤로 지정됨

In [ ]:
s2.value_counts().sort_index()

In [ ]:
s.sort_values()

In [ ]:
s.sort_values(ascending=False)

데이터 프레임에서 `sort_values()` 메서드를 사용할 땐 `by` 인수로 정렬 기준이 될 열을 지정  
`by` 인수에 리스트를 전달하면 복수 정렬을 하게 됨

In [24]:
df.sort_values(by=2)

     0    1    2    3
0  3.0  1.0  0.0  3.0
2  2.0  4.0  0.0  NaN
1  0.0  1.0  4.0  1.0
3  1.0  4.0  4.0  3.0

In [25]:
df.sort_values(by=[2, 0])

     0    1    2    3
2  2.0  4.0  0.0  NaN
0  3.0  1.0  0.0  3.0
1  0.0  1.0  4.0  1.0
3  1.0  4.0  4.0  3.0